*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    height: 5vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(3, 3, 48);
    color: white;
    text-transform: capitalize;
}

@media screen and (max-width:500px) {
    .navbar{
        width: 120vw;
    }
}