*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first, .second, .third {
  color: white;
  text-align: center;
  font-size: xx-large;
  min-width: 500px;
}

.first{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.second{
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.third{
  width: 100vw;
  height: 100vh;
  background-color: lightgreen;
}